@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.principal {
    background: radial-gradient( farthest-corner at 250px 1px , hsla(216, 12%, 54%, 0.379), hsl(213, 19%, 18% )30%), hsl(216, 12%, 8%) ;
    width: 500px;
    height: 550px;
    margin: 220px auto;
    border-radius: 30px;
}

h2 {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 35px;
}

p.texto {
   padding: 30px;
   line-height: 1.3em;
   color: rgba(244, 244, 244, 0.698);
} 

p.enviar {
    background-color:hsl(25, 97%, 53%);
    margin: 45px auto;
    padding-top: 20px;
    text-align: center;
    width: 400px; 
    height: 40px;
    border-radius: 40px;
    font-size: 19px;
}

p.enviar:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

div.num1, .num2, .num3, .num4, .num5 {
    margin-left: 22px;
    margin-top: 25px;
    display: inline-block;
    background-color:  rgba(255, 255, 255, 0.089);
    color: rgba(244, 244, 244, 0.698);
    width: 70px;
    height: 47px;
    padding-top: 22px;
    text-align: center;
    border-radius: 50px;
}

div.num1:hover, .num2:hover, .num3:hover, .num4:hover, .num5:hover {
    background-color: rgba(240, 248, 255, 0.446);
    color:  white;
    cursor: pointer;
}

input:checked + .num1 {
    background-color: hsl(25, 97%, 53%);
    color: blueviolet;
}


svg {
    width: 300px;
    height: 100px;
    position: relative;
    top: 50px;
    left: 50px;
}

path.icons {
    transform: scale(1.5);
    background-color: rgb(73, 73, 73);
    width: 120px;
    height: 120px;
}

div.estrela {
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 50px;
    width: 65px;
    height: 65px;
    position: absolute;
    margin: 30px;
}   
