@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.principal {
    background: radial-gradient( farthest-corner at 250px 1px , hsla(216, 12%, 54%, 0.379), hsl(213, 19%, 18% )30%), hsl(216, 12%, 8%) ;
    width: 500px;
    height: 550px;
    margin: 190px auto;
    border-radius: 30px;
}

h1 {
    margin-left: 30px;
    font-size: 35px;
    text-align: center;
}

p.texto {
   padding-left: 35px;
   padding-right: 15px;
   line-height: 1.3em;
   margin-top: 15px;
   color: rgba(244, 244, 244, 0.698);
   text-align: center;
   line-height: 30px;
} 

div.selection {
    text-align: center;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.099);
    color: rgb(255, 136, 0);
    width: 260px;
    height: 40px;
    padding-top: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.173);
}

svg {
    margin: auto;
    padding-top: 80px;
    display: block;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:  hsl(25, 97%, 53%);
    font-size: 17px;
}

.p-footer { 
    text-align: center;
}

footer {
    box-shadow: 10px 10px 10px white;
}

